@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@font-face {
    font-family: 'RecipeTitle'; 
    src: url('/static/fonts/LibreBaskerville-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



@tailwind base;
@tailwind components;
@tailwind utilities;