<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link href="/static/css/output.css" rel="stylesheet">
</head>
<body>
    <div class="flex flex-wrap justify-between w-full h-20 border-2 border-black text-xl font-navBar">
        <ul class="flex flex-row gap-x-8 ml-10 items-center">
            <li onclick="homeButton()">Home</li>
            <li onclick="categoryButton('Baking')">Baking</li>
            <li onclick="categoryButton('Soup & Stews')">Soup & Stews</li>
            <li onclick="categoryButton('Pasta')">Pasta</li>
            <li onclick="categoryButton('Protein & Sides')">Protein & Sides</li>
            <li onclick="categoryButton('Asian')">Asian</li>
            <li onclick="categoryButton('Vegitarian')">Vegitarian</li>
        </ul>

        <ul class="flex flex-row gap-x-8 mr-10 items-center">
            <li>Login</li>
            <!-- If not logged in when trying to create recipe, you will get prompted to do so -->
            <li>Add Recipe</li>   
        </ul>
    </div>

    <script src="/static/js/app.js"></script>
</body>
</html>