<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/output.css">
</head>
<body>
    <div class="flex border h-14 sticky top-0 bg-white z-10">
        <nav class="flex flex-row justify-between w-3/5 m-auto font-navBar text-lg">
            <div>
                <ul class="flex flex-row space-x-4">
                    <li>Baking</li>
                    <li>Soup & Stews</li>
                    <li>Pasta</li>
                    <li>Protein & Sides</li>
                    <li>Asian</li>
                    <li>Vegitarian</li>
                </ul>
            </div>
            <div>
                <ul class="flex flex-row space-x-4">
                    <li>P-login</li>
                    <li>P-create</li>
                </ul>
            </div>
        </nav>
    </div>
</body>
</html>